.galeria{
    width: 640px;
    height: 360px;
    background-color: black;
    overflow: hidden;
}

.galeria .fotos{
    width: 500%;
    animation-name: animação;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galeria .fotos img{
    width: 19.9%;
}